.container{
      display: grid;
    grid-template-columns: auto auto auto ;
   background-color: rgb(192, 107, 107);
   gap: 10px;
   padding: 10px;
   border: 3px solid black;
   @media screen and {min-width: 500px;
    
    
   }


}
.item{
    background-color: rgb(255, 188, 200);
    border: 3px solid black;
    padding: 2px;
    text-align: center;
    font-size: larger;
    font-weight: 800px;
    font-size: xx-large;
    cursor: help;
   
}
box{
    grid-column: (1/3);
}